<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ak47.digiboard">
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ExaminerStudentListActivity" />
        <activity android:name=".activity.ExaminerAddQuestionActivity" />
        <activity android:name=".activity.ExaminerQuestionListActivity" />
        <activity android:name=".activity.ExaminerQuizCreateActivity" />
        <activity android:name=".activity.ExaminerQuizListActivity" />
        <activity android:name=".activity.ProfileSelectionActivity" />
        <activity android:name=".activity.ExaminerMainActivity" />
        <activity android:name=".activity.CandidateMainActivity" />
        <activity android:name=".activity.CandidateHistoryActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.CandidateResultActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.CandidateActiveQuizActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ActivitySelection">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>